.courseContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}
.div img{
    height: 40px;
    margin-inline: auto;

}
.div{
    margin: auto;
  
}

.div p{
    margin-top: 10px;
    font-size: 16px;
    color: rgb(83, 81, 81);
}